body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.logo {
    height: 50px;
    width: 50px;
    justify-self: start;
    align-self: flex-start;

}
.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.profile-pic img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.hero img {
    height: 50%;
    width: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.hero-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
}

.hero-text h1 {
    margin: 0;
    font-size: 1.5rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 80%;
}

.search-bar button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.problem-help {
    padding: 20px;
    text-align: center;
}

.problem-help h2 {
    margin: 0 0 20px;
}

.problem-help input, .problem-help select, .problem-help button {
    padding: 10px;
    margin: 10px 0;
    width: 300px;
    max-width: 100%;
    display: block;
    margin: 10px auto;
}

.problem-help button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.recently-accessed {
    padding: 20px;
    text-align: center;
}

.recent-problems {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.recent-problems .problem {
    width: 350px;
    text-align: center;
}

.recent-problems img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}






.Recommended{
    padding: 20px;
    text-align: center;
}

.Recommended-prob {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.Recommended-prob .rproblem {
    width: 350px;
    text-align: center;
}

.Recommended-prob img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}