body{
  background-color:rgb(232, 111, 56);
}
button{
  color:blanchedalmond;
  background-color: aqua;
}
button{
  background-color: rgb(232, 111, 56);
}
p{
  text-align:center;
}
#box{
  text-align: center;
  text-decoration: red, underline;
}
a{
  text-decoration: none;
}
#h1{
  font-weight:normal;
}
#h2 {
  font-weight: bold;

}
#h3{
  font-weight: lighter;
}
#h4{
  font-weight: bolder;
}
#one{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#one{
  text-align: center;
}
#one{
  text-decoration: none;
}
#box{
  font-size: 22px;
line-height: 23px;
text-transform: uppercase;
}
#durra{
  text-align: center;
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
  font-size: 23px;
  height: 22px;
  width: 133px;
  border-width: 2px;
  border-style: solid;
  background-color: blueviolet;
  text-align: center;
  border-radius: 22px;

}
#inner{
  font-size: 330px;
}
body{background-color: aquamarine;}